.header-top {
    padding: 15px 50px 8px 50px;
}

.logo h1 {
    color: var(--red);
}

.header-social-links {
    gap: 20px;
}

.header-social-links i {
    font-size: 22px;
    border-radius: 50%;
    /* background-color: rgba(255, 255, 255, 0.3); */
    color: var(--red);
    transition: 0.5s all ease-in;
    cursor: pointer;
}

nav {
    border: 2px solid gray;
    padding: 15px 10px;
    margin: 0 40px;
}

nav ul {
    list-style: none;
    gap: 20px;
}

nav button {
    background-color: var(--red);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s all ease-in;
}

@media screen and (max-width: 600px) {
    nav {
        display: none!important;
    }
}

@media screen and (max-width: 500px) {
    .header-top {
        flex-direction: column;
    }
}