.header-top {
    padding: 15px 50px 8px 50px;
}

.header-social-links {
    gap: 20px;
}

.header-social-links i {
    font-size: 22px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    color: #1eb2a6;
    transition: 0.5s all ease-in;
    cursor: pointer;
}

.header-social-links i:hover {
    color: #178f85;
}

nav {
    border-top: 2px solid gray;
    padding: 10px 50px 0px 50px;
}

nav ul {
    list-style: none;
    gap: 20px;
}

nav button {
    background-color: #1eb2a6;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px;
    transition: 0.3s all ease-in;
}

nav button:hover {
    background-color: #178f85;
}